body {
    background-color: #1B2B40;
    margin: 0%;
}

                /* CABECALHO */
header {
    z-index: 100;
    background-color: #274259;
    width: 100%;
    box-shadow: 3px 3px 3px #5e5e5e;
    position: sticky;
}

li {
    color: rgb(2, 1, 1);
    display: inline-block;
    margin: 1% 0% 1% 0%;
    padding: 1% 1% 1% 1%;
}

li:hover {
    background-color: #27F2F2;
    border-radius: 5px;
    transition: background-color 1s;
    cursor: pointer;
}
                /* CABECALHO */



                /* RODAPE */
footer {
    background-color: #274259;
    height: 100px;
    width: 100%;
    padding: 2% 0% 2% 0%;
    margin-top: 1%;
}

.imgRedeSocial {
    width: 15%;
    margin: 3% 3% 3% 3%;
}

#redesociais {
    float: right;
}
                /* RODAPE */






                /* ESTILIZACAO DA ANIMACAO */
#box1 {
    position: relative;
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, .4);
    overflow: hidden;
    border-radius: 20px;
    margin: 1% 0% 1% 4%;
}

#box1::before {
    content: '';
    position: absolute;
    width: 1500px;
    height: 140%;
    background: linear-gradient(#2ECEF2, #22F2DD);
    animation: animate 5s linear infinite
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#box1::after {
    content: '';
    position: absolute;
    inset: 4px;
    background: rgb(134, 134, 134);
    border-radius: 20px;
}

#box1 #box2 {
    position: relative;
    color: white;
    z-index: 10;
}
                /* ESTILIZACAO DA ANIMACAO */



/* PALHETA DE CORES */

/*
#1B2B40
#274259
#2ECEF2
#27F2F2
#22F2DD
*/